fastapi>=0.100
uvicorn[standard]
sqlalchemy>=2.0
aiosqlite
asyncpg
psycopg2-binary
pydantic>=2.0
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-multipart
aiofiles
httpx
APScheduler==3.10.4
psutil
jinja2
pyotp==2.9.0
qrcode==7.4.2
openpyxl>=3.1.0
redis~=5.0.0
